@font-face {
  font-family: 'icofont';
  src:  url('https://2019.images.forbesjapan.media/public/fonts/icofont.eot?5196k8');
  src:  url('https://2019.images.forbesjapan.media/public/fonts/icofont.eot?5196k8#iefix') format('embedded-opentype'),
    url('https://2019.images.forbesjapan.media/public/fonts/icofont.ttf?5196k8') format('truetype'),
    url('https://2019.images.forbesjapan.media/public/fonts/icofont.woff?5196k8') format('woff'),
    url('https://2019.images.forbesjapan.media/public/fonts/icofont.svg?5196k8#icofont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icofont-"], [class*=" icofont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icofont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icofont-new:before {
  content: "\e913";
}
.icofont-mail:before {
  content: "\e912";
}
.icofont-line_a:before {
  content: "\e90e";
}
.icofont-official:before {
  content: "\e911";
}
.icofont-messengerIcon:before {
  content: "\e90d";
}
.icofont-follow:before {
  content: "\e90f";
}
.icofont-follow-2:before {
  content: "\e900";
}
.icofont-follow-1:before {
  content: "\e901";
}
.icofont-briefcase:before {
  content: "\e914";
}
.icofont-facebook:before {
  content: "\e910";
}
.icofont-plus:before {
  content: "\e90b";
}
.icofont-gift:before {
  content: "\e90c";
}
.icofont-help:before {
  content: "\e902";
}
.icofont-book:before {
  content: "\e903";
}
.icofont-timer:before {
  content: "\e904";
}
.icofont-home:before {
  content: "\e905";
}
.icofont-menu:before {
  content: "\e906";
}
.icofont-crown:before {
  content: "\e907";
}
.icofont-settings:before {
  content: "\e908";
}
.icofont-search:before {
  content: "\e909";
}
.icofont-bookmark:before {
  content: "\e90a";
}
.icofont-bookmark1:before {
  content: "\e9d2";
}
.icofont-instagram:before {
  content: "\ea92";
}
.icofont-twitter:before {
  content: "\ea96";
}
